.navbar {
  top: 0;
  width: 100%;
  z-index: 20;
  height: 80px;
  display: flex;
  position: sticky;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.navbarContainer {
  height: 80px;
  display: flex;
  max-width: 1500px;
  align-items: center;
  justify-content: center;
}

.navbarLogo {
  display: flex;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 20px;
  justify-self: start;
  margin-left: 20px;
  align-items: center;
  text-decoration: none;
}

.fa-typo3 {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.navMenu {
  width: 60vw;
  display: grid;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  justify-content: end;
  grid-template-columns: repeat(4, auto);
}

.navItem {
  height: 60px;
}

.navLinks {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navLinks:hover {
  transition: all 0.2s ease-out;
  border-bottom: 4px solid #fff;
}
.navLinks:visited{
  color: hotpink;
}

.fa-bars {
  color: #fff;
}

.navLinksMobile {
  display: none;
}
.btnOutline{
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border: 2px solid white;
  transition: all 0.3s ease-out;
  background-color: transparent;
}
.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavItem {
    position: relative;
  }

  .navMenu {
    top: 80px;
    opacity: 1;
    left: -100%;
    width: 100%;
    height: 50vh;
    display: flex;
    padding: 3rem;
    position: absolute;
    flex-direction: column;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    left: 0;
    opacity: 1;
    z-index: 1;
    background: #242222;
    transition: all 0.5s ease;
  }

  .navLinks {
    width: 100%;
    padding: 2rem;
    display: table;
    text-align: center;
  }

  .navLinks:hover {
    color: #242424;
    border-radius: 0;
    background-color: #fff;
  }

  .navbarLogo {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(25%, 50%);
  }

  .menuIcon {
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    transform: translate(-100%, 60%); 
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .navLinksMobile {
    width: 80%;
    color: #fff;
    display: block;
    font-size: 1.5rem;
    margin: 2rem auto;
    text-align: center;
    border-radius: 4px;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    background-color: transparent;
  }

  .navLinksMobile:hover {
    color: #242424;
    transition: 250ms;
    background: #fff;
  }
  .bLinks{
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    border: 2px solid white;
    transition: all 0.3s ease-out;
    background-color: transparent;
  }
}
@media (max-width:375px) {
  .navbar{
    width: 101%;
  }
  .navbarContainer{
    width: 100%;

  }
}
